.aboutDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 90%;
}
@media (min-width: 768px) {
    .App .AboutCompDivH2 {
        width: 75%;
    }
}