.aboutDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 90%;
}
.App .AboutCompDivH2 {
    @media (min-width: 768px) {
        width: 75%;
    }
  }