.card {
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: center;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 24px;
}
.carousel {
    margin-top: 20px;
}
.divColapse div{
    width: 100%;
}
.divColapse {
    display: flex;
    gap: 30px;
}
.appartementInfo {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.appartementloc {
    display: flex;
}
.rating{
    justify-content: end;
    margin-top: 10px;
}
.hostInfo div{
    display: flex;
    align-items: center;
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
}
.hostName{
    gap: 20px;
}
.tag {
    display: flex;
    gap: 10px;
    span{
        color: white;
        background-color: #FF6060;
        border-radius: 10px;
        padding: 2px 20px 2px 20px;
    }
}

@media  (max-width:768px) {
    h1{
        font-size: 40px;
    }
    .hostInfo{
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .appartementInfo{
        flex-wrap: wrap;
    }
    .divColapse{
        display: initial;
    }
}