.nav-header {
    margin: auto;
    margin-top: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navBar{
    display: flex;
    gap: 30px;
    align-items: end;
    a{
      font-size: 24px;
      text-decoration: none;
      &:hover {
        color: #FF6060; 
      }
      &.active {
        color: #FF6060;
        border-bottom: 2px solid #FF6060;
      }
    }
  }
  @media (max-width: 768px) {
    .navBar {
      a{
        font-size: 12px;
      }
    }
    svg{
      width: 110px;
      height: 46px;
    }
  }